# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Eclipse
.classpath
.project
.settings/
.metadata/
.factorypath

# Eclipse/EGit
*.launch
.recommenders/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/